services:
  - type: web
    name: qhub
    env: python
    plan: free
    region: oregon
    autoDeploy: true

    buildCommand: |
      pip install --upgrade pip
      pip install -r backend/requirements.txt
      python backend/manage.py migrate
      python backend/manage.py collectstatic --noinput

    startCommand: gunicorn backend.backend.wsgi:application --bind 0.0.0.0:$PORT

    healthCheckPath: /

    envVars:
      - key: DJANGO_SECRET_KEY
        generateValue: true

      - key: DJANGO_DEBUG
        value: "False"

      - key: DJANGO_ALLOWED_HOSTS
        value: ".onrender.com"

      - key: GEMINI_API_KEY
        sync: false
